/* CONOCENOS */

.conocenos {
    font-size: 180%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
}

.h3Conocenos {
    font-size: 200%;
}