/* TALLES */

table {
    font-size: 200%;
    font-weight: bold;
    table {
        font-size: 200%;
        font-weight: bold;
        tr {
            color: #3b3535;
            th {
                color: black;
            }
        }
    
    }
}

h5 {
    font-size: 100%;
    font-weight: bold;
}